 
<li><%= link_to 'LinkedIn', '/auth/linkedin' %></li>
<li><%= link_to "Facebook", "/auth/facebook", id: "sign_in" %></li>
<% if user_signed_in?%>
	<% if current_user.has_role? :Teacher, College.last %>
	  <h5>Available:</h5>
	  <%= image_tag(current_user.image_url,style: "width:40px;")%>
	<% end %>
	<%= link_to 'Sign Out',destroy_user_session_path,:method => :delete , :class => 'btn btn-xs btn-info'%>
	<% else %>
  <%= link_to 'Sign In','users/sign_in', :class => 'btn btn-xs btn-info'%>
<% end %> 